# Аппаратное управление и окна
pyserial>=3.5
pywin32>=306
win32gui

# Быстрое зрение и анализ пикселей
mss>=9.0.1
numpy>=1.26.4
pyautogui>=0.9.54

# Современный интерфейс
customtkinter>=5.2.2

# Глобальные хоткеи (F9)
pynput>=1.7.6
